<?php
global $_SITE;

$pagination = ( ! empty( $_GET['next'] ) ) ? $_GET['next'] : NULL;

$q = $_SITE['database']['handler']->select( )->from('gallery')->where('status = ?', 'Y')->limit( 10, $pagination );
$h = $q->query( );
$images = $h->fetchAll( );

foreach ( $images as $image )
$imagez .= "'".BFCMS_Helper::galleryGetImage( $image['filename'] )."',";

  ?>
  <script type="text/javascript">
//<![CDATA[
var galleryImages = new Array(  <?=substr( $imagez, 0, -1 )?> );

var viewer = new PhotoViewer();
viewer.disablePhotoLink( );
viewer.setOnClickEvent(viewer.startSlideShow);
viewer.setSlideDuration(3000);
//viewer.disablePanning();
viewer.enableAutoPlay();

galleryImages.each( function(s, index) {
	viewer.add(s);
} );

viewer.randomize();
viewer.show(0);

window.onload = function(  ) { $('htmlGallery').innerHTML = '<p style="width: 100px; margin: 30px auto;text-align: center;">Se hai avuto problemi con la visualizzazione della galleria di immagini, disattiva il supporto javascript per poter accedere alla versione semplice in HTML.<br /><br />Auguriamo in ogni caso, una buona permanenza sul nostro sito!<br /><br /><a href="javascript:history.back()" title="Torna indietro">Torna indietro</a></p>'; };

// TODO
// Javascript add all images via JSON
// Html soltanto 10 con paging
//]]>
  </script>
<div id="htmlGallery">

<?
foreach ( $images as $image )
{
print '<div style="font-weight: bold;float:left;vertical-align:middle;margin-top: 20px;">
<a onclick="return viewer.show(0)" href="'.BFCMS_Helper::galleryGetImage( $image['filename'] ).'" title="'.$image['title'].'">
<img style="vertical-align:middle;" src="'.BFCMS_Helper::galleryGetImage( $image['filename'], TRUE ).'" alt="" width="100px" />
</a>';
if ( ! is_null( $image['title'] ) ) print $image['title'];
print '</div><div style="clear:both"></div>';
}
?>
</div>