<?php



global $_SITE;





$d = $_SITE['Seller'];
$products = $d->getProducts( array( 'l' => 30 ) );

?><table><?
foreach( $products as $product )
{$product['price_full'] = substr( $product['price_full'], 0, -2 );
$sconto = "<b style='color: red;'>Sconto: {$product['bonus_percent']}</b>";
	print "<tr style=''><td style='padding: 10px;'><a href='".BFCMS_Helper::galleryGetImage( array( $product['cod'], $product['id_product'] ), FALSE, FALSE, FALSE, FALSE, TRUE )."' title='Immagine ingrandita'><img src='".BFCMS_Helper::galleryGetImage( array( $product['cod'], $product['id_product'] ), TRUE, FALSE, FALSE, FALSE, TRUE )."' alt='Anteprima non disponibile' style='height: 100px;' /></a></td><td><b>{$product['manufacturer']}</b><br />{$product['description']}</td></tr><tr style='height: 20px;border-bottom: 1px solid green'><td></td><td style='text-align: right;'>$sconto Prezzo <b style='color: green;'>{$product['price_full']} &euro;</b></td></tr>";
}
?></table>