<?php



global $_SITE;





$d = $_SITE['Seller'];
$product = $d->getProducts( array( 'l' => 1 ) );
if ( ! is_null( $product[0]['bonus_percent'] ) && $product[0]['bonus_percent'] != '0' && $product[0]['bonus_percent'] != '0%' ) 
$sconto = "<b style='color: red;'>Sconto: {$product[0]['bonus_percent']}</b>";
$product[0]['price_full'] = substr( $product[0]['price_full'], 0, -2 );
print "<table><tr><td colspan='2' style='text-align: center;padding: 25px;'><a href='".BFCMS_Helper::galleryGetImage( array( $product[0]['cod'], $product[0]['id_product'] ), FALSE, FALSE, FALSE, FALSE, TRUE )."' title='Immagine ingrandita'><img src='".BFCMS_Helper::galleryGetImage( array( $product[0]['cod'], $product[0]['id_product'] ), TRUE, FALSE, FALSE, FALSE, TRUE )."' alt='Anteprima non disponibile' style='height: 300px;' /></a></td></tr><tr style=''><td style='padding: 10px;'></td><td><b>{$product[0]['manufacturer']}</b><br />{$product[0]['description']}</td></tr><tr style='height: 20px;border-bottom: 1px solid green'><td></td><td style='text-align: right;'>$sconto Prezzo <b style='color: green;'>{$product[0]['price_full']} &euro;</b></td></tr></table>";
