/*
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: Lucida Grande, Arial, Helvetica, Sans-Serif;
	vertical-align: baseline;
	line-height: 1;
	text-align: left;
}
*/
ul, ol {
	list-style: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset End */

body {
	font-size: 68.5%; /* Resets 1em to 10px */
	font-family: georgia, 'Lucida Grande', Verdana, Arial, Sans-Serif;
	color: #333;
	text-align: center;
}

small {
	font-family: verdana, Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
}

h1, h2, h3 {
	font-family: 'Trebuchet MS', georgia, 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: bold;
}

h1 {
	font-family: georgia, 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-weight: normal;
	font-size: 4em;
	text-align: left;
}

h2 {
	font-size: 1.6em;
}

h2.pagetitle {
	font-size: 1.6em;
}

h3 {
	font-size: 1.6em;
}

h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
	text-decoration: none;
	color: #777;
}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
	color: #000;
}

h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
	text-decoration: none;
}

small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
	color: #777;
}

code {font: 1.1em 'Courier New', Courier, Fixed;}

acronym, abbr, span.caps {
	font-size: 0.9em;
	letter-spacing: .07em;
}

a, h2 a:hover, h3 a:hover {
	color: #06c;
	text-decoration: none;
}

a:hover {
	color: #147;
	text-decoration: none;
}

acronym, abbr, span.caps {
	cursor: help;
}

acronym, abbr {
	border-bottom: 1px dashed #999;
}

blockquote {
	border-left: 5px solid #ddd;
}

blockquote cite {
	display: block;
}


hr {
	display: none;
}

a img {
	border: none;
}

input, textarea {
        font-family:Arial, Helvetica, sans-serif;
        font-size:12px;
        color:#404040;
}
label {
        color:#999;
        cursor:pointer;
        line-height:16px;
}
label.chosen {color:#333;}

.alignleft   { text-align:left; }
.aligncenter { text-align:center; }
.alignright  { text-align:right; }
.alignmiddle { padding: auto 0; }

.padding-left-10  { padding-left:10px; }
.padding-left-20  { padding-left:20px; }
.padding-left-30  { padding-left:30px; }
.padding-left-40  { padding-left:40px; }
.padding-left-50  { padding-left:50px; }
.padding-left-60  { padding-left:60px; }
.padding-left-70  { padding-left:70px; }
.padding-left-80  { padding-left:80px; }
.padding-left-90  { padding-left:90px; }
.padding-left-100 { padding-left:100px; }

.padding-right-10  { padding-right:10px; }
.padding-right-20  { padding-right:20px; }
.padding-right-30  { padding-right:30px; }
.padding-right-40  { padding-right:40px; }
.padding-right-50  { padding-right:50px; }
.padding-right-60  { padding-right:60px; }
.padding-right-70  { padding-right:70px; }
.padding-right-80  { padding-right:80px; }
.padding-right-90  { padding-right:90px; }
.padding-right-100 { padding-right:100px; }

.tinyspace { height:7px; }
.smallspace { height:16px; }
.space { height:30px; }
.bigspace { height:90px; }

.transparent
{
	color: transparent;
    border: 0px solid transparent;
    background-color: transparent;
}