<?php global $_SITE;
// TODO: Qui c'e' la lista dei trademarks con scroll automatico e il menu' browse in caso ci si trovi su browse
$doubleColumns = ( $_SITE['config']['env']['controller'] == 'index' ) ? '-two' : '-double';
$headerImage = ( $doubleColumns == '-double' ) ? 'computer_lab.jpg' : 'assistenza.jpg';
$rand = rand(0,30);
$d = $_SITE['Seller'];
?>
<div id="loading_box"></div>
<div id="admin_nav" style="margin: 0 auto; width: 803px;">
<div class="boxed" style="text-align:center; width: 370px; padding: 30px 0px; margin: 30px 0px; border: 3px solid red;float:left;">
	<h2 class="title" style="text-align:center;">Amministrazione</h2>
	<div class="content">
		<ul style="text-align: center;">
		<li><a href="/administration/products" title="Articoli">Prodotti</a></li>
		<li><a href="/administration/gallery" title="Galleria">Galleria</a></li>
		<li><a href="/administration/pages" title="Pagine">Pagine</a></li>
		<!--<li style="height: 5px; background-color: #CCCCCC; border-top: 2px solid red; border-bottom: 2px solid red;"></li>-->
		</ul>
	</div>
</div>
<?if( $_SITE['config']['env']['action'] == 'products' ):?>	
<div style="text-align:center; width: 370px; padding: 30px 0px; margin: 30px 0px; border: 3px solid red;float:right;">
	<h2 class="title" style="text-align:center;">Aggiorna il database</h2>
	<form action="" method="POST" enctype="multipart/form-data">
		<input type="file" name="import_file" /><br />
		<select name="source">
			<option value="Brevi">Brevi</option>
		</select>
		<input type="submit" />
	</form>
</div>			
<div class="boxed" style="text-align:center; width: 800px; padding: 30px 0px; margin: 30px 0px; border: 3px solid red;clear:both;">
	<h2 class="title" style="text-align:center;">Gestione Prodotti</h2>
	<div class="content" style="float:left;">
	<?
			$removeThisFilter = ( ! empty( $d->filters['c'] ) ) ? '<a style="border: 1px solid green;color:red;padding:2px;" href="?updateFilters=1&amp;filters[c]=&amp;filters[sc]=" title="Rimuovi questo filtro">X</a>' : NULL;
	?>
		<h3 class="title" style="text-align:center;">Categoria <?=$removeThisFilter?></h3>
		<dl style="text-align: center;">
		<?
		foreach( $d->categories as $cat )
		{
			print "<dt><a href='?updateFilters=1&amp;filters[c]=$cat&amp;filters[sc]=' title='$cat'><b>$cat</b></a></dt>";
			foreach( $d->categoriesStructure[$cat] as $subCat )
				if ( ! empty( $d->filters['c'] ) )
					print "<dd><a href='?updateFilters=1&amp;filters[c]=$cat&amp;filters[sc]=$subCat' title='$cat: $subCat'>$subCat</a></dd>";
		}
		?>
		</dl>
	</div>
	<div class="content" style="float:left;">
		<h3 class="title" style="text-align:center;">Prezzo</h3>
		<dl style="text-align: center;">
		<dd>lakshf</dd><dd>lakshf</dd><dd>lakshf</dd>
		<dd>lakshf</dd><dd>lakshf</dd><dd>lakshf</dd>
		<dd>lakshf</dd><dd>lakshf</dd><dd>lakshf</dd>
		</dl>
	</div>
	<div class="content" style="float:left;">
		<h3 class="title" style="text-align:center;">Disponibilita'</h3>
		<dl style="text-align: center;">
		<dd>lakshf</dd><dd>lakshf</dd><dd>lakshf</dd>
		</dl>
	</div>
	<div style="clear:both;"></div>
</div>
<?elseif( $_SITE['config']['env']['action'] == 'gallery' ):?>	
<div style="text-align:center; width: 370px; padding: 30px 0px; margin: 30px 0px; border: 3px solid red;float:right;">
	<h2 class="title" style="text-align:center;">Invia una nuova immagine</h2>
	<form action="" method="POST" enctype="multipart/form-data">
		<input type="file" name="import_file" /><br />
		<input type="text" name="title" /> Titolo<br />
		<input type="submit" />
	</form>
</div>		
<div style="clear:both;"></div>
<?endif;?>
</div>