<?php
/**
 * This script is the site index
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */
global $_SITE;
$redirectHostname = $_SITE['config']['handler']->redirect->domain;
// Try: http://www.mapquest.com/maps/map.adpovi=1&mqmap.x=300&mqmap.y=75&mapdata=%252bKZmeiIh6N%252bIgpXRP3bylMaN0O4z8OOUkZWYe7NRH6ldDN96YFTIUmSH3Q6OzE5XVqcuc5zb%252fY5wy1MZwTnT2pu%252bNMjOjsHjvNlygTRMzqazPStrN%252f1YzA0oWEWLwkHdhVHeG9sG6cMrfXNJKHY6fML4o6Nb0SeQm75ET9jAjKelrmqBCNta%252bsKC9n8jslz%252fo188N4g3BvAJYuzx8J8r%252f1fPFWkPYg%252bT9Su5KoQ9YpNSj%252bmo0h0aEK%252bofj3f6vCP

?>
				<div id="search_control">Loading...</div>
               <div id="search_content" class="search_content_bg"></div>
<?
print $this->headScript( )->setScript( trim( '
function googleSearch() {
	// web search, open, alternate root 
	var localoptions = new google.search.SearcherOptions(); 
	localoptions.setExpandMode( google.search.SearchControl.EXPAND_MODE_OPEN ); 
	localoptions.setRoot( document.getElementById( "search_content" ) ); 

	siteSearch = new google.search.WebSearch();
	siteSearch.setUserDefinedLabel( "Risultati" );
	siteSearch.setSiteRestriction( "computershopping3.it" );

	// create a search control 
	var searchControl = new google.search.SearchControl(); 
	searchControl.addSearcher( siteSearch, localoptions );
	searchControl.draw( document.getElementById( "search_control" ) ); 
} 

google.load( \'search\', \'1.0\'); 
google.setOnLoadCallback( googleSearch, true );
' ) );
