<?php
/**
 * This script display the available feeds
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

global $_SITE; ?>
                         <div style="border: none; margin: 10px 10px 10px 10px; padding: 0px 0px 0px 0px;">
                         <!--<h1>Feeds</h1>-->
<div style="text-align: center;width: 230px;">
<img style="border: 0px solid transparent;width: 210px;" src="/public/images/feeds.png" alt="<?=$_SITE['config']['handler']->site->name?> Feeds" /><br /><br />
<?=__LANG_FEEDS_CONTENT__?>
<ul style="text-align: left;">
<li><a href="http://it.wikipedia.org/wiki/wiki/Atom" title="Atom">Atom</a></li>
<li><a href="http://it.wikipedia.org/wiki/Really_simple_syndication" title="Really simple syndication">Really simple syndication</a></li>
<li><a href="http://it.wikipedia.org/wiki/XML" title="XML">XML</a></li>

</ul>
</div>
                         </div>