<?php
/**
 * This script is the site index
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */
global $_SITE;
$redirectHostname = $_SITE['config']['handler']->redirect->domain;
// Try: http://www.mapquest.com/maps/map.adpovi=1&mqmap.x=300&mqmap.y=75&mapdata=%252bKZmeiIh6N%252bIgpXRP3bylMaN0O4z8OOUkZWYe7NRH6ldDN96YFTIUmSH3Q6OzE5XVqcuc5zb%252fY5wy1MZwTnT2pu%252bNMjOjsHjvNlygTRMzqazPStrN%252f1YzA0oWEWLwkHdhVHeG9sG6cMrfXNJKHY6fML4o6Nb0SeQm75ET9jAjKelrmqBCNta%252bsKC9n8jslz%252fo188N4g3BvAJYuzx8J8r%252f1fPFWkPYg%252bT9Su5KoQ9YpNSj%252bmo0h0aEK%252bofj3f6vCP

$d = new Seller( $_SITE['database']['handler'] );
$products = $d->getProducts( array( 'l' => 5, 's' => 'update', 'sd' => 'DESC' ) );
?>

				<h2 class="title">Vetrina OnLine</h2>
				<div class="content">
				<table>
<?
foreach( $products as $product )
{$product['price_full'] = substr( $product['price_full'], 0, -2 );
$sconto = "<b style='color: red;'>Sconto: {$product['bonus_percent']}</b>";
	print "
<tr style=''><td style='padding: 10px;'><a href='".BFCMS_Helper::galleryGetImage( array( $product['cod'], $product['id_product'] ), FALSE, FALSE, FALSE, FALSE, TRUE )."' title='Immagine ingrandita'><img src='".BFCMS_Helper::galleryGetImage( array( $product['cod'], $product['id_product'] ), TRUE, FALSE, FALSE, FALSE, TRUE )."' alt='Anteprima non disponibile' style='height: 100px;' /></a></td><td><b>{$product['manufacturer']}</b><br />{$product['description']}</td></tr><tr style='height: 20px;border-bottom: 1px solid green'><td></td><td style='text-align: right;'>$sconto Prezzo <b style='color: green;'>{$product['price_full']} &euro;</b></td></tr>
	";
}
?>
<tr><td colspan="2" style="height: 30px;text-align: right;"><a style="color: green;" href="/browse/products" title="guarda tutti i prodotti in vendita">... guarda tutti i prodotti in vendita</a></td></tr></table>
</div>