<?php
/**
 * This script notify that login is needed in order to view
 * the requested page
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

?>     <div class="post">
          <h2 class="title">Accesso negato!</h2>
          <div class="entry" style="height: 220px;">
               <p>Per accedere alla pagina<br />
               <br />
               <i>http://<?=$_SERVER['HTTP_HOST']?><?=base64_decode( $_GET['b'] )?></i><br />
               <br />
               devi aver prima effettuato il login.<br />
               </p>
          </div>
     </div>