<?php

global $_SITE;

if ( ! empty( $_POST['email'] ) )
{
	// Controllo se gia' iscritto e validita' email via regexp
	$c = $_SITE['database']['handler']->select(  )
	                             ->from( 'newsletter_users', array( 'id' ) )
	                             ->where( 'email = ?', $_POST['email'] );	
	$c = $c->query( );
	$c = $c->fetchAll( );
	
	if ( empty( $c[0]['id'] ) )
	{
		if ( preg_match( '^(([A-Za-z0-9]+_+)|([A-Za-z0-9]+\-+)|([A-Za-z0-9]+\.+)|([A-Za-z0-9]+\++))*[A-Za-z0-9]+@((\w+\-+)|(\w+\.))*\w{1,63}\.[a-zA-Z]{2,6}^', $_POST['email'] ) ) // Controllo regexp
		{
			$_SITE['database']['handler']->insert( 'newsletter_users', array( 'ip' => $_SERVER['REMOTE_ADDR'], 'email' => $_POST['email'] ) );	
			print "<p><h2 class='title'>Congratulazioni!</h2><br />Ti sei correttamente iscritto alla newsletter di Computer Shopping 3.<br /><br />A breve riceverai una conferma dell'iscrizione sull'indirizzo email da te specificato.</p>";
		} else print "<p><h2 class='title'>Oooops!</h2><br />L'indirizzo email da te specificato non puo' esser interpretato dai nostri sistemi.<br /><br />Per favore, assicurati di aver digitato correttamente l'indirizzo e riprova.</p>";
	} else print "<p><h2 class='title'>Oooops!</h2><br />L'indirizzo email da te specificato, risulta gia' iscritto alla newsletter di Computer Shopping3</p>";
} else {
	print '<div class="content" style="text-align: center;">
						<form id="form3" method="post" action="/index/subscribe-newsletter">
							<fieldset style="padding: 5px;">
							<legend class="title">Newsletter</legend>
							<p>Ricevi mensilmente una selezione dei migliori nuovi prodotti e di quelli consigliati da noi</p>
							<label for="inputtext4">Email:</label>
							<input style="width: 80px;" id="inputtext4" type="text" name="email" value="" class="textfield" />
							<input id="inputsubmit3" type="submit" name="inputsubmit3" value="Sottoscrivi" class="button" />
							</fieldset>
						</form>
					</div>';
}