<?php global $_SITE;
$controller = $_SITE['config']['env']['controller'];
$action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
?>
<div id="shadow_bg"></div>
<div id="main_page">
	<div id="menu">
		<div id="loading_box"></div>
		<ul id="navigation_list">
			<li <?=( $controller == 'index' && $action != 'feeds' )?'class="active"':NULL?>>
				<a href="/" title="Homepage" onclick="CS3.loadPage('page_box', '/'); return false;">Homepage</a>
			</li>
			<li <?=( $action == 'us' )?'class="active"':NULL?>>
				<a href="/about/us" title="<?=__LANG_HOME_ABOUT_TITLE__?>" onclick="CS3.loadPage('page_box', '/about/us'); return false;"><?=__LANG_HOME_ABOUT__?></a>
			</li>
			<li <?=( $controller == 'browse' )?'class="active"':NULL?>>
				<a href="/browse/products" title="<?=__LANG_HOME_PRODUCTS_TITLE__?>" onclick="CS3.loadPage('page_box', '/browse/products'); return false;"><?=__LANG_HOME_PRODUCTS__?></a>
			</li>
			<li <?=( $action == 'our-services' )?'class="active"':NULL?>>
				<a href="/about/our-services" title="<?=__LANG_HOME_SERVICES_TITLE__?>" onclick="CS3.loadPage('page_box', '/about/our-services'); return false;"><?=__LANG_HOME_SERVICES__?></a>
			</li>
			<li <?=( $action == 'where-we-are' )?'class="active"':NULL?>>
				<a href="/about/where-we-are" title="<?=__LANG_HOME_WW_ARE_TITLE__?>" onclick="CS3.loadPage('page_box', '/about/where-we-are'); return false;"><?=__LANG_HOME_WW_ARE__?></a>
			</li>
			<li <?=( $action == 'contact-us' )?'class="active"':NULL?>>
				<a href="/about/contact-us" title="<?=__LANG_HOME_CONTACT_TITLE__?>" onclick="CS3.loadPage('page_box', '/about/contact-us'); return false;"><?=__LANG_HOME_CONTACT__?></a>
			</li>
			<li <?=( $action == 'feeds' )?'class="active"':NULL?>>
				<a href="/feeds" title="<?=__LANG_HOME_FEEDS__?>" onclick="CS3.loadPage('page_box', '/index/feeds?ajax'); return false;"><?=__LANG_HOME_FEEDS__?></a>
			</li>
			<li <?=( $controller == 'search' )?'class="active"':NULL?>>
				<a href="/search" title="<?=__LANG_HOME_SEARCH__?>"><?=__LANG_HOME_SEARCH__?></a>
			</li>
			<li <?=( $action == 'sitemap' )?'class="active"':NULL?>>
				<a href="/index/sitemap" title="<?=__LANG_HOME_SITEMAP__?>" onclick="CS3.loadPage('page_box', '/index/sitemap'); return false;"><?=__LANG_HOME_SITEMAP__?></a>
			</li>
		</ul>
	</div>
<div id="sep"></div>
<div id="page_box">
<? 
print $this->headScript()->setScript('
$("page_box").hide();
//$("sep").hide();

$("sep").setStyle({ height: "200px" });
//$("sep").blindDown({ duration: 1.20 });

$("loading_box").setStyle({ top: "70px", fontSize: "13px", paddingBottom: "10px",border: "1px solid green", color: "green", textAlign: "center", display: "block", opacity:1, width:"60px", height:"60px" });
$("loading_box").innerHTML = "<img id=\"loading_pic\" src=\""+ajaxLoadingImages.success+"\" alt=\"Success!!!\" /><br /><br />Success!";');