<?php
/**
 * Layout: Scripts-Index
 * 
 * With header, sidebar and footer if no other specifications
 * by the _GET variable: noTemplate
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

global $_SITE;

$doubleColumns = ( $_SITE['config']['env']['action'] != 'error' && $_SITE['config']['env']['controller'] == 'index' && $_SITE['config']['env']['action'] != 'sitemap' || $_SITE['config']['env']['controller'] == 'error' ) ? NULL : '-double';
$d = $_SITE['Seller'];

$news = $d->getLastProductsUpdates();
?>
				</div>
			</div>
		</div>
<?if ( $_SITE['config']['env']['action'] != 'error' && $_SITE['config']['env']['controller'] == 'index' && $_SITE['config']['env']['action'] != 'sitemap' || $_SITE['config']['env']['controller'] == 'error' ):
?>		<div id="col-three">
			<div id="imageH" class="image"><img src="<?=BFCMS_Helper::galleryGetImage( NULL, TRUE, FALSE, FALSE, TRUE, FALSE )?>" alt="" /></div>
<?
print $this->headScript()->setScript( "
var oTransition;
window.onload = function() {
	oTransition = new Transition( 'imageH', '/ajax/get-random-image' );
}; " );?>
			<div class="container_box">
				<div class="boxed">
<?if($_SITE['config']['env']['action'] == 'feeds'):?>
                       <div style="text-align: center;">
                              <h2 class="title"><?=__LANG_HOME_FEEDS_TITLE__?></h2>
                              <table style="margin: 0 auto;">
                              <tr><th style="border: 0px solid #FFFFFF;"></th><th style="border: 0px solid #FFFFFF;"><h2>RSS :: Atom</h2></th></tr>
                              <tr><td style="height: 110px;"><!--<img style="vertical-align: middle; width: 48px;" src="/public/images/favicon.ico" alt="[<?=constant( "__LANG_ALL__" )?>]" />--> </td><td style=""><a href="/feeds/products.xml" title="Listino Prodotti"><img src="/public/images/rss.add.png" alt="Listino Prodotti" /></a><a href="/feeds/products.xml?type=atom" title="Listino Prodotti"><img src="/public/images/atom.add.png" alt="Listino Prodotti" /></a><br /><strong>Listino Prodotti</strong></td></tr>
                              <tr><td style="height: 110px;"><!--<img style="vertical-align: middle; width: 48px;" src="/public/images/favicon.ico" alt="[<?=constant( "__LANG_ALL__" )?>]" />--></td><td style=""><a href="/feeds/products-updates.xml" title="Aggiornamenti Prodotti"><img src="/public/images/rss.add.png" alt="Aggiornamenti Prodotti" /></a><a href="/feeds/products-updates.xml?type=atom" title="Aggiornamenti Prodotti"><img src="/public/images/atom.add.png" alt="Aggiornamenti Prodotti" /></a><br /> <strong>Aggiornamenti Prodotti</strong></td></tr>
                              <tr><td style="height: 110px;"><!--<img style="vertical-align: middle; width: 48px;" src="/public/images/favicon.ico" alt="[<?=constant( "__LANG_ALL__" )?>]" />--> </td><td style=""><a href="/feeds/gallery.xml" title="Prodotti"><img src="/public/images/rss.add.png" alt="Prodotti" /></a><a href="/feeds/gallery.xml?type=atom" title="Prodotti"><img src="/public/images/atom.add.png" alt="Prodotti" /></a><br /><strong>Galleria Immagini</strong></td></tr>
                              <tr><td style="height: 110px;"><!--<img style="vertical-align: middle; width: 48px;" src="/public/images/favicon.ico" alt="[<?=constant( "__LANG_ALL__" )?>]" />--> </td><td style=""><a href="/feeds/newsletters.xml" title="Newsletters"><img src="/public/images/rss.add.png" alt="Newsletters" /></a><a href="/feeds/newsletters.xml?type=atom" title="Newsletters"><img src="/public/images/atom.add.png" alt="Newsletters" /></a><br /><strong>Newsletters</strong></td></tr>
                              </table>
                         </div>
<?else:?>
				
					<div class="content">
						<?if( $_SESSION['d'] == 'ajax' ):?>
						<a style="text-decoration: underline;" href="?d=javascript" title="Disabilita JavaScript">Se il sito ti risulta lento, prova la versione senza animazioni ed effetti.</a>
						<?else:?>
						<a style="font-weight: bold; font-size: 16px; text-decoration: underline;" href="?d=ajax" title="Attiva JavaScript">Se vuoi ritornare alla versione Web 2.0 clicca qui.</a>
						<?endif;?>
					</div>
					<h2 class="title">Vuoi un pc diverso da tutti gli altri?</h2>
					<div class="content">
						<a style="text-decoration: underline;" href="/browse/gallery" title="Guarda la galleria dei pc moddati da noi">Guarda la galleria dei pc da noi assemblati</a>
					</div>
				</div>
				<div class="boxed">
					<div class="content" style="text-align: center;">
						<form id="form3" method="post" action="/index/subscribe-newsletter">
							<fieldset style="padding: 5px;">
							<legend class="title">Newsletter</legend>
							<p>Ricevi mensilmente una selezione dei migliori nuovi prodotti e di quelli consigliati da noi</p>
							<label for="inputtext4">Email:</label>
							<input style="width: 80px;" id="inputtext4" type="text" name="email" value="" class="textfield" />
							<input id="inputsubmit3" type="submit" name="inputsubmit3" value="Sottoscrivi" class="button" />
							</fieldset>
						</form>
					</div>
				</div>
				<div class="boxed">
					<h2 class="title"><?=__LANG_NEWS__?></h2>
					<div class="content">
						<ul>
<?
foreach( $news as $n )
{
	$d = explode( ' ', $n['update'] );
	
	$date = explode( '-', $d[0] );
	$time = explode( ':', $d[1] );
	
	if ( ! is_null( $lastDate ) && $lastDate != $d[0] ) $ret .= "</dl></li>\n\n\n";
	if ( $lastDate != $d[0] ) $ret .= "<li style='margin-top: 10px;'><dl><dt><h3>" . date( 'd F, Y', mktime( $time[0], $time[1], $time[2], $date[1], $date[2], $date[0] )) . "</h3><a href='/browse/products?ui={$n['id']}&amp;resetFilters=1' title='Vai agli articoli'>{$d[1]}</a></dt>\n";
	else $ret .= "<dt style='margin-top: 10px;'><a href='/browse/products?ui={$n['id']}&amp;resetFilters=1' title='Vai agli articoli'><i>{$d[1]}</i></a></dt>\n";

		if ( $n['added_sources'] >= 1 ) $ret .= "<dd>{$n['added_sources']} " .__LANG_NEW_SOURCES__ . "</dd>";
		if ( $n['added_products'] >= 1 ) $ret .= "<dd><a href='/browse/products?q=ap&amp;ui={$n['id']}&amp;resetFilters=1' title='Vai agli articoli'>{$n['added_products']}</a> " . __LANG_NEW_PRODUCTS__ . "</dd>";
		if ( $n['changed_prices'] >= 1 ) $ret .= "<dd><a href='/browse/products?q=cpr&amp;ui={$n['id']}&amp;resetFilters=1' title='Vai agli articoli'>{$n['changed_prices']}</a> " . __LANG_NEW_PRICES__ . "</dd>";
		if ( $n['changed_products'] >= 1 ) $ret .= "<dd><a href='/browse/products?q=cp&amp;ui={$n['id']}&amp;resetFilters=1' title='Vai agli articoli'>{$n['changed_products']}</a> " . __LANG_CHANGED_PRODUCTS__ . '</dd>';
		
	
	$lastDate = $d[0];
}

print $ret;
?></dl></li>
						</ul>
					</div><?endif;
?>
				</div>

			</div>
		</div>
<?endif;

if ( substr( $_SITE['config']['env']['action'], 0, 7 ) != 'product' || ( substr( $_SITE['config']['env']['action'], 0, 7 ) == 'product' && ! $_SITE['frontController']['handler']->getRequest()->isXmlHttpRequest() || empty( $_GET ) ) ):
?>		<div id="extra<?=$doubleColumns?>" style="clear: both;"></div>
	</div>
</div>
<?
endif;