<?php global $_SITE;
// TODO: Qui c'e' la lista dei trademarks con scroll automatico e il menu' browse in caso ci si trovi su browse
$doubleColumns = ( $_SITE['config']['env']['action'] != 'error' && $_SITE['config']['env']['controller'] == 'index' && $_SITE['config']['env']['action'] != 'sitemap' || $_SITE['config']['env']['controller'] == 'error'  ) ? '-two' : '-double';
$headerImage = ( $doubleColumns == '-double' ) ? 'computer_lab.jpg' : 'assistenza.jpg';
$rand = rand(0,30);

$d = new Seller( $_SITE['database']['handler'] );
if ( substr( $_SITE['config']['env']['action'], 0, 7 ) != 'product' 
|| ( $_SITE['config']['env']['action'] == 'products' && ! $_SITE['frontController']['handler']->getRequest()->isXmlHttpRequest() 
     || empty( $_GET ) )
|| substr( $_SITE['config']['env']['action'], 0, 7 ) == 'product' && ! empty( $_GET['i'] ) ):
?>
	<div id="wrapper<?=$doubleColumns?>">
		<div id="col-one">
			<div class="image"><img src="/public/themes/default/images/logo.jpg" alt="Assemblaggio Assistenza Tecnica Vendita Moliing" style="width: 181px;height:150px;" /></div>
			<div class="container_box">
				<div id="web-2_0" class="boxed" style="text-align:center;">
					<?if( $_SESSION['d'] == 'ajax' ):?><a href="http://www.oreillynet.com/pub/a/oreilly/tim/news/2005/09/30/what-is-web-20.html" title="Web 2.0 manifest"><img src="/public/images/web-2_0.png" alt="Hey, this is Web 2.0!" /></a><?endif;?>
				</div>
<? print $this->headScript()->setScript('$("web-2_0").pulsate( { pulses: 5, duration: 20.0 });');
if ( substr( $_SITE['config']['env']['action'], 0, 7 ) == 'product' ):?>
				<div class="boxed" id="col-one-content">
					<h2 class="title" style="text-align:center;">Gestione Prodotti</h2>
					<div class="content" style="text-align:center;">
					<?
							$removeThisFilter = ( ! empty( $d->filters['c'] ) ) ? '<a onclick="CS3.loadProductsPage(\'/browse/products?updateFilters=1&amp;filters[c]=&amp;filters[sc]=\'); return false;" href="?updateFilters=1&amp;filters[c]=&amp;filters[sc]=" title="Rimuovi questo filtro"><img src="http://www.alitaliacargo.com/images/cancel.gif" alt="Rimuovi questo filtro" /></a>&nbsp;&nbsp;&nbsp;' : NULL;
					?>
						<b class="title"><?=$removeThisFilter?>Categorie</b>
						<ul style="text-align:left;margin-top: 10px;">
						<?
						foreach( $d->categories as $cat )
						{
							print "<dt><a style='color: lightbrown;' onclick=\"CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[c]=$cat&amp;filters[sc]='); return false;\" href='/browse/products?updateFilters=1&amp;filters[c]=$cat&amp;filters[sc]=' title='$cat'><b>$cat</b></a></dt>";
							if ( ! empty( $d->filters['c'] ) )
							foreach( $d->categoriesStructure[$cat] as $subCat )
								print "<li style=\"margin-left: 15px;padding-left:3px;list-style-type: square;\"><a onclick=\"CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[c]=$cat&amp;filters[sc]=$subCat'); return false;\" href='/browse/products?updateFilters=1&amp;filters[c]=$cat&amp;filters[sc]=$subCat' title='$cat: $subCat'>$subCat</a></li>";
						}
						?>
						</ul>
					</div>
					<div class="content" style="text-align:center;">
					<?
							$removeThisFilter = ( ! empty( $d->filters['m'] ) ) ? '<a onclick="CS3.loadProductsPage(\'/browse/products?updateFilters=1&amp;filters[m]=\'); return false;" href="/browse/products?updateFilters=1&amp;filters[m]=" title="Rimuovi questo filtro"><img src="http://www.alitaliacargo.com/images/cancel.gif" alt="Rimuovi questo filtro" /></a>&nbsp;&nbsp;&nbsp;' : NULL;
					?>
						<b class="title"><?=$removeThisFilter?>Marche</b>
						<ul style="text-align:left;margin-top: 10px;">
						<?
						foreach( $d->manufacturers as $cat )
							print "<li style=\"list-style-type: square;\"><a style='color: lightbrown;' onclick=\"CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[m]=$cat'); return false;\" href='/browse/products?updateFilters=1&amp;filters[m]=$cat' title='$cat'><b>$cat</b></a></li>";
						?>
						</ul>
					</div>
					<div class="content" style="text-align:center;">
					<?
							$removeThisFilter = ( ! empty( $d->filters['p'] ) ) ? '<a onclick="CS3.loadProductsPage(\'/browse/products?updateFilters=1&amp;filters[p]=\'); return false;" href="/browse/products?updateFilters=1&amp;filters[p]=" title="Rimuovi questo filtro"><img src="http://www.alitaliacargo.com/images/cancel.gif" alt="Rimuovi questo filtro" /></a>&nbsp;&nbsp;&nbsp;' : NULL;
					?>
						<b class="title"><?=$removeThisFilter?>Prezzo</b>
						<ul style="text-align:left;margin-top: 10px;">
						<dd style="font-weight: bold;color: orange;">Fino a</dd>
						<li style="list-style-type: square;"><a style='color: lightbrown;' onclick="CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[p]=50'); return false;" href='/browse/products?updateFilters=1&amp;filters[p]=50' title='50 &euro;'><b>50 &euro;</b></a></li>
						<li style="list-style-type: square;"><a style='color: lightbrown;' onclick="CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[p]=100'); return false;" href='/browse/products?updateFilters=1&amp;filters[p]=100' title='100 &euro;'><b>100 &euro;</b></a></li>
						<li style="list-style-type: square;"><a style='color: lightbrown;' onclick="CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[p]=300'); return false;" href='/browse/products?updateFilters=1&amp;filters[p]=300' title='300 &euro;'><b>300 &euro;</b></a></li>
						<li style="list-style-type: square;"><a style='color: lightbrown;' onclick="CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[p]=500'); return false;" href='/browse/products?updateFilters=1&amp;filters[p]=500' title='500 &euro;'><b>500 &euro;</b></a></li>
						<dd style="font-weight: bold;color: orange;">Oltre i</dd>
						<li style="list-style-type: square;"><a style='color: lightbrown;' onclick="CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[p]=10000000000'); return false;" href='/browse/products?updateFilters=1&amp;filters[p]=10000000000' title='500 &euro;'><b>500 &euro;</b></a></li>
						</ul>
					</div>
				</div>
<?elseif( $_SITE['config']['env']['controller'] == 'administration' ):?>
				<div class="boxed">
					<h2 class="title">Amministrazione</h2>
					<div class="content">
						<ul style="text-align: center;">
						<li><a href="/administration/articles" title="Articoli">Articoli</a></li>
						<li><a href="/administration/gallery" title="Galleria">Galleria</a></li>
						<!--<li style="height: 5px; background-color: #CCCCCC; border-top: 2px solid red; border-bottom: 2px solid red;"></li>-->
						</ul>
					</div>
				</div>
				<?if( $_SITE['config']['env']['action'] == 'articles' ):?>				
				<div class="boxed">
					<h2 class="title">Gestione Prodotti</h2>
					<div class="content">
						<ul style="text-align: center;">
						<?
						foreach( $d->categories as $cat )
						{
							$removeThisFilter = ( ! empty( $d->filters['category'] ) ) ? '<a href="?'. str_replace( "c={$d->filters['category']}", NULL, str_replace( "&sc={$d->filters['subCategory']}", NULL, $_SERVER['QUERY_STRING'] ) ) .'" title="Rimuovi questo filtro">X</a>' : NULL;
							
							print "<dt><a href='?c=$cat' title='$cat'><b>$cat</b></a>$removeThisFilter</dt>";
							foreach( $d->categoriesStructure[$cat] as $subCat )
								print "<li><a href='?c=$cat&amp;sc=$subCat' title='$subCat'>$subCat</a></li>";
						}
						?>
						</ul>
					</div>
				</div>
				<?elseif( $_SITE['config']['env']['action'] == 'gallery' ):?>	
				<div class="boxed">
					<h2 class="title">Gestione Immagini</h2>
					<div class="content">
					</div>
				</div>
				<?endif;?>		
<?else:?>
				<div class="boxed">
					<!--<p class="title" style="text-align: center;">Sede: Genova</p>-->
					<!--<h2 class="title"><?=__LANG_TRADEMARKS__?></h2>-->
					<div class="content">
						<div style="background-color:white;margin-left:-10px;" id="mycarousel_c" class="carousel-component height500">
							<div class="carousel-clip-region">
								<ul class="carousel-list">
								<li id="mycarousel_c-item-1"><img style="width:110px;" src="/public/images/partners/intel.gif" alt="Partner: Intel" /></li>
								<li id="mycarousel_c-item-2"><img style="width:110px;" src="/public/images/partners/amd.gif" alt="Partner: AMD" /></li>
								<li id="mycarousel_c-item-3"><img style="width:110px;" src="/public/images/partners/sun.gif" alt="Partner: Sun Microsystems" /></li>
								<li id="mycarousel_c-item-4"><img style="width:110px;" src="/public/images/partners/ati.gif" alt="Partner: Ati" /></li>
								<li id="mycarousel_c-item-5"><img style="width:110px;" src="/public/images/partners/nvidia.gif" alt="Partner: Nvidia" /></li>
								<li id="mycarousel_c-item-6"><img style="width:110px;" src="/public/images/partners/ibm.gif" alt="Partner: IBM" /></li>
								<li id="mycarousel_c-item-7"><img style="width:110px;" src="/public/images/partners/ubuntu.gif" alt="Partner: Ubuntu Linux" /></li>
								<li id="mycarousel_c-item-8"><img style="width:110px;" src="/public/images/partners/microsoft2.gif" alt="Partner: Microsoft" /></li>
								<li id="mycarousel_c-item-9"><img style="width:110px;" src="/public/images/partners/quantum.gif" alt="Partner: Quantum" /></li>
								<li id="mycarousel_c-item-10"><img style="width:110px;" src="/public/images/partners/acer.gif" alt="Partner: Acer" /></li>
								<li id="mycarousel_c-item-11"><img style="width:110px;" src="/public/images/partners/asus.gif" alt="Partner: Asus" /></li>
								<li id="mycarousel_c-item-12"><img style="width:110px;" src="/public/images/partners/cisco.gif" alt="Partner: Cisco" /></li>
								<li id="mycarousel_c-item-13"><img style="width:110px;" src="/public/images/partners/3com.jpg" alt="Partner: 3com" /></li>
								<li id="mycarousel_c-item-14"><img style="width:110px;" src="/public/images/partners/atlantis.gif" alt="Partner: Atlantis" /></li>
								<li id="mycarousel_c-item-15"><img style="width:110px;" src="/public/images/partners/dlink.gif" alt="Partner: D-Link" /></li>
								<li id="mycarousel_c-item-16"><img style="width:110px;" src="/public/images/partners/apc.gif" alt="Partner: APC" /></li>
								<li id="mycarousel_c-item-17"><img style="width:110px;" src="/public/images/partners/brother.gif" alt="Partner: Brother" /></li>
								<li id="mycarousel_c-item-18"><img style="width:110px;" src="/public/images/partners/canon.gif" alt="Partner: Canon" /></li>
								<li id="mycarousel_c-item-19"><img style="width:110px;" src="/public/images/partners/creative.gif" alt="Partner: Creative" /></li>
								<li id="mycarousel_c-item-20"><img style="width:110px;" src="/public/images/partners/epson.gif" alt="Partner: Epson" /></li>
								<li id="mycarousel_c-item-21"><img style="width:110px;" src="/public/images/partners/hamlet.gif" alt="Partner: Hamlet" /></li>
								<li id="mycarousel_c-item-22"><img style="width:110px;" src="/public/images/partners/hp.jpg" alt="Partner: HP" /></li>
								<li id="mycarousel_c-item-23"><img style="width:110px;" src="/public/images/partners/lacie.gif" alt="Partner: Lacie" /></li>
								<li id="mycarousel_c-item-24"><img style="width:110px;" src="/public/images/partners/lexmark.gif" alt="Partner: Lexmark" /></li>
								<li id="mycarousel_c-item-25"><img style="width:110px;" src="/public/images/partners/linksys.gif" alt="Partner: Linksys" /></li>
								<li id="mycarousel_c-item-26"><img style="width:110px;" src="/public/images/partners/logitech.gif" alt="Partner: Logitech" /></li>
								<li id="mycarousel_c-item-27"><img style="width:110px;" src="/public/images/partners/maxtor.gif" alt="Partner: Maxtor" /></li>
								<li id="mycarousel_c-item-28"><img style="width:110px;" src="/public/images/partners/netgear.gif" alt="Partner: Netgear" /></li>
								<li id="mycarousel_c-item-29"><img style="width:110px;" src="/public/images/partners/netopia.gif" alt="Partner: Netopia" /></li>
								<li id="mycarousel_c-item-30"><img style="width:110px;" src="/public/images/partners/nod32.gif" alt="Partner: NOD32" /></li>
								<li id="mycarousel_c-item-31"><img style="width:110px;" src="/public/images/partners/novel.gif" alt="Partner: Novel" /></li>
								<li id="mycarousel_c-item-32"><img style="width:110px;" src="/public/images/partners/philips.gif" alt="Partner: Philips" /></li>
								<li id="mycarousel_c-item-33"><img style="width:110px;" src="/public/images/partners/seagate.gif" alt="Partner: Seagate" /></li>
								<li id="mycarousel_c-item-34"><img style="width:110px;" src="/public/images/partners/sony.gif" alt="Partner: Sony" /></li>
								<li id="mycarousel_c-item-35"><img style="width:110px;" src="/public/images/partners/tomtom.gif" alt="Partner: TomTom" /></li>
								<li id="mycarousel_c-item-36"><img style="width:110px;" src="/public/images/partners/wd.gif" alt="Partner: Western Digital" /></li>
								<li id="mycarousel_c-item-37"><img style="width:110px;" src="/public/images/partners/zyxel.gif" alt="Partner: Zyxel" /></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
<?endif;?>
			</div>
		</div><?
print $this->headScript()->setScript( "
function carousel_c ()
{
	new YAHOO.extension.Carousel('mycarousel_c', 
		{
		    numVisible:        4,
		    animationSpeed:    10.00,
		    autoPlay:          true,
		    orientation:       'vertical',
		    scrollInc:         4,
		    size:              20,
		    wrap:              true
		});
}

YAHOO.util.Event.addListener(window, 'load', carousel_c); " );

?>
		<div id="col<?=$doubleColumns?>">
			<div id="imagez" class="image"><img src="/public/themes/default/images/<?=$headerImage?>" alt="Assemblaggio Assistenza Tecnica Vendita Pc" /></div>
			<div class="container_box">
				<div id="productPageBlocker"></div>
				<div class="boxed" id="page_content">
				
<?
endif;