	<div id="footer">
		<p id="legal">Copyright &copy;2008-<?=date( 'y' )?> Computer Shopping 3, All Rights Reserved.<br />
		Site developed by <a href="http://www.baruffaldi.info" title="copyright &copy; 2008-<?=date( 'y' )?> <?=__LANG_HOME_ADMIN__?>"><img onmouseover="javascript:BFCMS.switchImage(this,'filippo-baruffaldi-hover.png');"
                              onmouseout="javascript:BFCMS.switchImage(this,'filippo-baruffaldi.png');"
                              src="/public/images/filippo-baruffaldi.png"
                              style="vertical-align: middle;"
                              alt="copyright &copy; 2008-<?=date( 'y' )?> <?=__LANG_HOME_ADMIN__?>" /></a></p>
		<!--<p id="links"></p>-->
	</div>
</div>
</body>
</html>