<?php global $_SITE;
$d = new Seller( $_SITE['database']['handler'] );
?>
					<h2 class="title" style="text-align:center;">Gestione Prodotti</h2>
					<div class="content" style="text-align:center;">
					<?
							$removeThisFilter = ( ! empty( $d->filters['c'] ) ) ? '<a onclick="CS3.loadProductsPage(\'/browse/products?updateFilters=1&amp;filters[c]=&amp;filters[sc]=\'); return false;" href="/browse/products?updateFilters=1&amp;filters[c]=&amp;filters[sc]=" title="Rimuovi questo filtro"><img src="http://www.alitaliacargo.com/images/cancel.gif" alt="Rimuovi questo filtro" /></a>&nbsp;&nbsp;&nbsp;' : NULL;
					?>
						<b class="title"><?=$removeThisFilter?>Categorie</b>
						<ul style="text-align:left;margin-top: 10px;">
						<?
						foreach( $d->categories as $cat )
						{
							print "<dt><a style='color: lightbrown;' onclick=\"CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[c]=$cat&amp;filters[sc]='); return false;\" href='/browse/products?updateFilters=1&amp;filters[c]=$cat&amp;filters[sc]=' title='$cat'><b>$cat</b></a></dt>";
							if ( ! empty( $d->filters['c'] ) )
							foreach( $d->categoriesStructure[$cat] as $subCat )
								print "<li style=\"margin-left: 15px;padding-left:3px;list-style-type: square;\"><a onclick=\"CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[c]=$cat&amp;filters[sc]=$subCat'); return false;\" href='/browse/products?updateFilters=1&amp;filters[c]=$cat&amp;filters[sc]=$subCat' title='$cat: $subCat'>$subCat</a></li>";
						}
						?>
						</ul>
					</div>
					<div class="content" style="text-align:center;">
					<?
							$removeThisFilter = ( ! empty( $d->filters['m'] ) ) ? '<a onclick="CS3.loadProductsPage(\'/browse/products?updateFilters=1&amp;filters[m]=\'); return false;" href="/browse/products?updateFilters=1&amp;filters[m]=" title="Rimuovi questo filtro"><img src="http://www.alitaliacargo.com/images/cancel.gif" alt="Rimuovi questo filtro" /></a>&nbsp;&nbsp;&nbsp;' : NULL;
					?>
						<b class="title"><?=$removeThisFilter?>Marche</b>
						<ul style="text-align:left;margin-top: 10px;">
						<?
						foreach( $d->manufacturers as $cat )
							print "<li style=\"list-style-type: square;\"><a style='color: lightbrown;' onclick=\"CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[m]=$cat'); return false;\" href='/browse/products?updateFilters=1&amp;filters[m]=$cat' title='$cat'><b>$cat</b></a></li>";
						?>
						</ul>
					</div>
					<div class="content" style="text-align:center;">
					<?
							$removeThisFilter = ( ! empty( $d->filters['p'] ) ) ? '<a onclick="CS3.loadProductsPage(\'/browse/products?updateFilters=1&amp;filters[p]=\'); return false;" href="/browse/products?updateFilters=1&amp;filters[p]=" title="Rimuovi questo filtro"><img src="http://www.alitaliacargo.com/images/cancel.gif" alt="Rimuovi questo filtro" /></a>&nbsp;&nbsp;&nbsp;' : NULL;
					?>
						<b class="title"><?=$removeThisFilter?>Prezzo</b>
						<ul style="text-align:left;margin-top: 10px;">
						<dd style="font-weight: bold;color: orange;">Fino a</dd>
						<li style="list-style-type: square;"><a style='color: lightbrown;' onclick="CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[p]=50'); return false;" href='/browse/products?updateFilters=1&amp;filters[p]=50' title='50 &euro;'><b>50 &euro;</b></a></li>
						<li style="list-style-type: square;"><a style='color: lightbrown;' onclick="CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[p]=100'); return false;" href='/browse/products?updateFilters=1&amp;filters[p]=100' title='100 &euro;'><b>100 &euro;</b></a></li>
						<li style="list-style-type: square;"><a style='color: lightbrown;' onclick="CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[p]=300'); return false;" href='/browse/products?updateFilters=1&amp;filters[p]=300' title='300 &euro;'><b>300 &euro;</b></a></li>
						<li style="list-style-type: square;"><a style='color: lightbrown;' onclick="CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[p]=500'); return false;" href='/browse/products?updateFilters=1&amp;filters[p]=500' title='500 &euro;'><b>500 &euro;</b></a></li>
						<dd style="font-weight: bold;color: orange;">Oltre i</dd>
						<li style="list-style-type: square;"><a style='color: lightbrown;' onclick="CS3.loadProductsPage('/browse/products?updateFilters=1&amp;filters[p]=10000000000'); return false;" href='/browse/products?updateFilters=1&amp;filters[p]=10000000000' title='500 &euro;'><b>500 &euro;</b></a></li>
						</ul>
					</div>