<?php
/**
 * This script print on screen the XML ( RSS or Atom ) Feed
 * 
 * Feed: SITEMAP
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

global $_SITE;

header( 'Content-Type: text/xml; charset=UTF-8' );

$xml = "<!-- generated-on=\"".date( 'M d, Y H:i' )."\" -->
<!-- <?xml-stylesheet type=\"text/xsl\" href=\"http://{$_SERVER['HTTP_HOST']}:{$_SERVER['SERVER_PORT']}/feeds/sitemap.xsl\" ?>-->
<urlset xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" 
    xsi:schemaLocation=\"http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd\" 
    xmlns=\"http://www.sitemaps.org/schemas/sitemap/0.9\">";

$sitemap = XFeeds::getSitemap();
foreach( $sitemap as $controller => $urls )
     foreach( $urls as $id => $url )
          $xml .= "
<url> 
     <loc>{$url['loc']}</loc> 
     <lastmod>{$url['lastmod']}</lastmod> 
     <changefreq>{$url['changefreq']}</changefreq> 
     <priority>{$url['priority']}</priority> 
</url>";

$xml .= "</urlset>";

if ( isset( $_GET['gzip'] ) ) print gzcompress( $xml );
else print $xml;