<?php
/**
 * This script print on screen the XML XSL Feeds Template
 * 
 * Feed: ALL
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */

global $_SITE;
header( 'Content-Type: text/xml; charset=UTF-8' );
print '<?xml version="1.0" encoding="UTF-8"?>'; ?>
<!DOCTYPE xsl:stylesheet [
  <!ENTITY pound "&#163;">
  <!ENTITY amp "&#38;">
  <!ENTITY copy "&#169;">
  <!ENTITY euro "&#8364;">
  <!ENTITY nbsp "&#160;">
  <!ENTITY lt "&#60;">
  <!ENTITY gt "&#62;">
]>

<xsl:stylesheet version="2.0" 
                xmlns:html="http://www.w3.org/TR/REC-html40"
                xmlns:sitemap="http://www.sitemaps.org/schemas/sitemap/0.9"
                xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
	<xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
	<xsl:template match="/">
	
<div class="content" id="sitemap">
	<div class="post">
		<h4 style="font-size:32px;">XML Sitemap</h4>
	
		<table cellpadding="5">
			<tr style="border-bottom:1px black solid;">
				<th>URL</th>
				<th><?=__LANG_PRIORITY__?></th>
				<th><?=__LANG_CHANGE_FREQ__?></th>
				<th><?=__LANG_LAST_CHANGE__?></th>
			</tr>
			<xsl:variable name="lower" select="'abcdefghijklmnopqrstuvwxyz'"/>
			<xsl:variable name="upper" select="'ABCDEFGHIJKLMNOPQRSTUVWXYZ'"/>
			<xsl:for-each select="sitemap:urlset/sitemap:url">
				<tr>
					<xsl:if test="position() mod 2 != 1">
						<xsl:attribute  name="class">high</xsl:attribute>
					</xsl:if>
					<td>
						<xsl:variable name="itemURL">
							<xsl:value-of select="sitemap:loc"/>
						</xsl:variable>
						<a href="{$itemURL}">
							<xsl:value-of select="sitemap:loc"/>
						</a>
					</td>
					<td>
						<xsl:value-of select="concat(sitemap:priority*100,'%')"/>
					</td>
					<td>
						<xsl:value-of select="concat(translate(substring(sitemap:changefreq, 1, 1),concat($lower, $upper),concat($upper, $lower)),substring(sitemap:changefreq, 2))"/>
					</td>
					<td>
						<xsl:value-of select="concat(substring(sitemap:lastmod,0,11),concat(' ', substring(sitemap:lastmod,12,5)))"/>
					</td>
				</tr>
			</xsl:for-each>
		</table>
		<p style="height: 300px;"></p>
	</div>
</div>
	</xsl:template>
</xsl:stylesheet>