<?php
/**
 * This script display the contact us form
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */
global $_SITE;

require_once 'Zend' . DIRECTORY_SEPARATOR . 'Service' . DIRECTORY_SEPARATOR . 'ReCaptcha' . DIRECTORY_SEPARATOR . 'Response.php';
require_once 'Zend' . DIRECTORY_SEPARATOR . 'Service' . DIRECTORY_SEPARATOR . 'ReCaptcha' . DIRECTORY_SEPARATOR . 'MailHide.php';

$recaptcha = new Zend_Service_ReCaptcha( $_SITE['config']['handler']->site->pubKey, $_SITE['config']['handler']->site->privKey, array( 'xhtml' => TRUE ), array( 'theme' => 'white', 'lang' => $_SITE['config']['env']['language']['short'] ) );
?><div style="text-align: center;">
<br /><br />
<b>E-mail</b>: <a href="mailto:computershopping3@hotmail.com?subject=Messaggio dal sito" title="Scrivici una email">computershopping3@hotmail.com</a><br />
<b>Telefono</b>: <a href="callto:0108600652" title="Scrivici una email">+39-010-8600652</a><br />
<br /><?
if ( ! empty( $_POST['email'] ) && ! empty( $_POST['message'] ) )
{
	$result = $recaptcha->verify( $_POST['recaptcha_challenge_field'], $_POST['recaptcha_response_field'] );

	if ( $result->isValid( ) )
	{
     mail( 'computershopping3@hotmail.com', "Messaggio dal sito: {$_POST['surname']} {$_POST['name']}", $_POST['message'], 'From: WebSite ComputerShopping3 <website-contact-form@computershopping3.it>' );
     print __LANG_CONTACT_US_MAIL_SENT__;
     
	} else {
		     	if ( ! is_null( $result ) ) $result = '<dt>Warning: '.$result->getErrorCode().'</dt>';
     	?><form action="/about/contact-us" method="POST">
                                             <dl id="contact_form"><?=$result?>
                                                  <dt style="text-align: right;"><i>* = <?=__LANG_NEEDED__?></i></dt>
                                                  <dt style="font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;<strong><?=__LANG_NAME__?></strong></dt><dd>
                                                  <input type="text" name="name" size="64" maxlength="64" /></dd>
                                                  <dt style="font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;<strong><?=__LANG_SURNAME__?></strong></dt><dd>
                                                  <input type="text" name="surname" size="64" maxlength="64" /></dd> 
                                                  <dt style="font-weight: normal;">*&nbsp;&nbsp;<strong><?=__LANG_EMAIL__?></strong></dt><dd>
                                                  <input type="text" name="email" size="64" maxlength="256" /></dd> 
                                                  <dt style="font-weight: normal;">*&nbsp;&nbsp;<strong><?=__LANG_MESSAGE__?></strong></dt><dd>
                                                  <textarea name="message" cols="27" rows="27">&nbsp;</textarea></dd>
                                                  <dt style="text-align: right;width: 260px;float:right;padding-right: 130px;"><?=$recaptcha->getHTML();?></dt>
                                                  <dt style="clear:both;text-align: right;padding-right: 220px;"><input id="addUrlSubmit" type="submit" value="<?=__LANG_SEND__?>" /></dt>
                                             </dl></form>
         <?
	}
} else {
     	?><form action="/about/contact-us" method="POST">
                                             <dl id="contact_form"><?=$result?>
                                                  <dt style="text-align: right;"><i>* = <?=__LANG_NEEDED__?></i></dt>
                                                  <dt style="font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;<strong><?=__LANG_NAME__?></strong></dt><dd>
                                                  <input type="text" name="name" size="64" maxlength="64" /></dd>
                                                  <dt style="font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp;<strong><?=__LANG_SURNAME__?></strong></dt><dd>
                                                  <input type="text" name="surname" size="64" maxlength="64" /></dd> 
                                                  <dt style="font-weight: normal;">*&nbsp;&nbsp;<strong><?=__LANG_EMAIL__?></strong></dt><dd>
                                                  <input type="text" name="email" size="64" maxlength="256" /></dd> 
                                                  <dt style="font-weight: normal;">*&nbsp;&nbsp;<strong><?=__LANG_MESSAGE__?></strong></dt><dd>
                                                  <textarea name="message" cols="27" rows="27">&nbsp;</textarea></dd>
                                                  <dt style="text-align: right;width: 260px;float:right;padding-right: 130px;"><?=$recaptcha->getHTML();?></dt>
                                                  <dt style="clear:both;text-align: right;padding-right: 220px;"><input id="addUrlSubmit" type="submit" value="<?=__LANG_SEND__?>" /></dt>
                                             </dl></form>
         <?
}
?>
</div>