<?php
/**
 * This script is the site index
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */
global $_SITE;

$redirectHostname = $_SITE['config']['handler']->redirect->domain;

// Try: http://www.mapquest.com/maps/map.adpovi=1&mqmap.x=300&mqmap.y=75&mapdata=%252bKZmeiIh6N%252bIgpXRP3bylMaN0O4z8OOUkZWYe7NRH6ldDN96YFTIUmSH3Q6OzE5XVqcuc5zb%252fY5wy1MZwTnT2pu%252bNMjOjsHjvNlygTRMzqazPStrN%252f1YzA0oWEWLwkHdhVHeG9sG6cMrfXNJKHY6fML4o6Nb0SeQm75ET9jAjKelrmqBCNta%252bsKC9n8jslz%252fo188N4g3BvAJYuzx8J8r%252f1fPFWkPYg%252bT9Su5KoQ9YpNSj%252bmo0h0aEK%252bofj3f6vCP
?>
				<h2 class="title">Vieni a trovarci in negozio!</h2>
				<div class="content">
					<p style="float:left;"><img style="width: 150px;" src="/public/images/cf.png" alt="Problemi al computer? Computer Shopping 3 risolve i tuoi problemi" /></p>
					<p style="text-align: left;margin: 15px;">
						<br />
						I servizi offerti da Computer Shopping 3 sono molteplici, a partire dall'assemblaggio e configurazione e vendita di pc all'assistenza a domicilio.<br /><br />
						Negli ultimi mesi, stiamo sperimentando un nuovo servizio di assistenza "remota" con un costo inferiore rispetto a quella a domicilio.<br /><br />
					</p>
					<p style="clear:both;margin: 15px;font-weight: bold;font-size: 14px;text-align: center;"><b>Costi</b></p>
					<dl>
						<dt style="margin: 15px;font-weight: bold;text-decoration: underline;font-size: 12px;">A domicilio</dt>
						<dd>10&euro; - Chiamata</dd>
						<dd>30&euro; - Ogni ora</dd>
						<dt style="margin: 15px;font-weight: bold;text-decoration: underline;font-size: 12px;">Remoto</dt>
						<dd>20&euro; - Chiamata</dd>
						<dd>20&euro; - Ogni ora esclusa la prima</dd>
					</dl>
					<p style="margin: 15px;text-align: left;clear:both;">
						blah blah blah blah blah
					</p>
				</div>
