<?php
/**
 * This script is the site index
 *
 * @author Filippo Baruffaldi <filippo@baruffaldi.info>
 * @package BZCms
 * @subpackage UrlTUBE
 */
global $_SITE;

$redirectHostname = $_SITE['config']['handler']->redirect->domain;

// Try: http://www.mapquest.com/maps/map.adpovi=1&mqmap.x=300&mqmap.y=75&mapdata=%252bKZmeiIh6N%252bIgpXRP3bylMaN0O4z8OOUkZWYe7NRH6ldDN96YFTIUmSH3Q6OzE5XVqcuc5zb%252fY5wy1MZwTnT2pu%252bNMjOjsHjvNlygTRMzqazPStrN%252f1YzA0oWEWLwkHdhVHeG9sG6cMrfXNJKHY6fML4o6Nb0SeQm75ET9jAjKelrmqBCNta%252bsKC9n8jslz%252fo188N4g3BvAJYuzx8J8r%252f1fPFWkPYg%252bT9Su5KoQ9YpNSj%252bmo0h0aEK%252bofj3f6vCP
?>
				<h2 class="title">Vieni a trovarci in negozio!</h2>
				<div class="content">
					<img border="1" src="vista frontale negozio" alt="vista frontale negozio" width="367" height="260" />
					<img border="1" alt="Computer Shopping 3" src="http://www.google.it/mapdata?CxXUwqUCHZGliAAgDwxAjgJIuQFSAml0kAEDygECaXQ" alt="Geographic map" width="200" /><br />
					
					<p style="text-align: center;margin: 0 auto;"><br /><br /><b>Computer Shopping 3</b><br /><br />
					68/R, V. Bertuccioni<br />
					16139 Genova (GE)<br /><br /></p>
					<ul style="text-align: center;margin: 0 auto;">
					<li><a title="A piedi" href="http://maps.google.it/maps?f=d&saddr=&daddr=Computer+shopping+3,+genova&hl=it&geocode=%3BFdTCpQIdkaWIACE30PYbLLAwuw&mra=ls&dirflg=w&sll=44.417748,8.955281&sspn=0.007019,0.019312&ie=UTF8&t=h&z=16" target="_blank">A piedi</a></li>
					<li><a title="In autobus" href="http://www.google.it/maps?ie=UTF8&f=d&dirflg=r&saddr=&daddr=Computer+shopping+3,+genova&ttype=dep&date=27%2F11%2F08&time=19:00&t=h&z=16">In autobus</a></li>
					<li><a title="In auto" href="http://maps.google.it/maps?f=d&saddr=&daddr=Computer+shopping+3,+genova&hl=it&geocode=%3BFdTCpQIdkaWIACE30PYbLLAwuw&mra=ls&sll=44.417748,8.955281&sspn=0.007019,0.019312&ie=UTF8&t=h&z=16">In macchina</a></li>
					<li><a title="In treno" href="http://orario.trenitalia.com/b2c/TimeTable?stazin=&amp;stazout=Genova+brignole&amp;datag=01&amp;datam=01&amp;dataa=2010&amp;timsh=6&amp;timsm=00&amp;x=30&amp;y=6&amp;lang=it&amp;nreq=5&amp;channel=tcom" target="_blank">In treno</a></li>
					<li><a title="In nave" href="http://www.smge.it/pages/arrpart_tr_ann.html">In nave</a></li>
					<li><a title="In aereo" href="http://www.airport.genova.it/pagine/orariostagionale.asp" target="_blank">In aereo</a> ( <a title="informazioni utili" href="http://www.orariovoli.com/Aeroporti/italia/genovainfo.htm" target="_blank">numeri telefonici</a> )</li>
					
					</ul>
				</div>
