
* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFFFF;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}

h1 {
}

h2 {
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: x-small;
}

p, blockquote, ul, ol {
	margin-bottom: 2em;
	line-height: 1.6em;
}

p {
}

blockquote {
	margin-left: 2em;
	margin-right: 2em;
	padding: 1em 1em 0 1em;
	text-align: center;
	font-style: italic;
}

ul {
	list-style: none;
}

ul li {
}

ol {
	list-style-position: inside;
}

ol li {
}

a {
	color: #666666;
}

a:hover {
	text-decoration: none;
	color: #000000;
}

img {
	border: none;
}

/* container_box */

.container_box {
	padding-top: 15px;
}

/* Boxed */

.boxed {
}

.boxed .title {
	padding: 10px;
	font-size: 1em;
}

.boxed .content {
	padding: 10px;
}

/* Menu */

#menu {
margin: 0 auto;
	position: relative;
	width: 680px;
	height: 40px;
left: -20px;
}

#menu ul {
	float: right;
	margin: 0;
	list-style: none;
}

#menu li {
position: relative;
	display: inline;
	z-index: 1;
}

#menu a {
	position: relative;
	margin-left: 0.3em;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 5px solid #EEEEEE;
	font-size: xx-small;
	font-weight: bold;
}

#menu a:hover, #menu .active a {
	border-bottom-color: #000000;
	color: #000000;
}

/* Wrapper */

#wrapper-two {
margin: 0 auto;
	clear: both;
	width: 682px;
	background: url(../images/img01.gif) repeat-y;
}

#wrapper-double {
margin: 0 auto;
	clear: both;
	width: 680px;
	background: url(../images/img012.gif) repeat-y;
}
/* Column One */

#col-one {
	float: left;
	width: 182px;
	padding-top: 10px;
	background: url(../images/img05.gif) no-repeat;
}

#col-one .image {
width: 181px;
	height: 150px;
}

#col-one .container_box {
width: 181px;
	background: url(../images/img07.gif) repeat-x;
}

#col-one .boxed {
}

#col-one .boxed .title {
	color: brown;
font-weight: bold;
font-size: 12px;
font-family: Palatyno;
margin-bottom: -10px;
text-align: center;
text-transform: uppercase;
}

#col-one .boxed .content a {
font-weight: normal;
font-size: 13px;
font-family: cursive;
text-transform: lowercase;
}

#col-one .boxed .content {
padding: none;
padding-top: 7px;
}

#col-one .boxed .content .title {
border-bottom: none;
margin: 30px 0px;
}

#col-one .boxed .content form {
}

#col-one .boxed .content fieldset {
	border: none;
}

#col-one .boxed .content legend {
	display: none;
}

#col-one .boxed .content label {
}

#col-one .boxed .content .textfield {
}

#col-one .boxed .content .button {
}

#col-one .boxed .content .tiny {
}

#col-one .boxed .content .tiny a {
}

/* Column Two */

#col-two {
	float: right;
	width: 302px;
	padding-top: 10px;
	background: url(../images/img08.gif) no-repeat;
}

#col-two .image {
width: 300px;
	height: 150px;
}

#col-two .container_box {
width: 300px;
	background: url(../images/img10.gif) repeat-x;
}

#col-two .boxed {
}

#col-two .boxed .title {
	color: #4DAB50;
}

#col-two .boxed .content {
}

/* Column Double */

#col-double {
	float: right;
	width: 490px;
	margin-left: 7px;
	padding-top: 10px;
	background: url(../images/img082.gif) no-repeat;
}

#col-double .image {
	height: 150px;
}

#col-double .container_box {
	background: url(../images/img10.gif) repeat-x;
}

#col-double .boxed {
}

#col-double .boxed .title {
	color: #4DAB50;
}

#col-double .boxed .content {
}

/* Column Three */

#col-three {
background-color: #FFFFFF;
	float: left;	
	width: 182px;
	margin-left: 7px;
	padding-top: 10px;
	background: url(../images/img02.gif) no-repeat;
}

#col-three .image {
width: 181px;
	height: 150px;
}

#col-three .container_box {
width: 181px;
	background: url(../images/img04.gif) repeat-x;
}

#col-three .boxed {
}

#col-three .boxed .title {
	color: #A92030;
}

#col-three .boxed .content {
}

/* Extra */

#extra {
	height: 4px;
	background: url(../images/img11.gif);
}


#extra-double {
	height: 4px;
	background: url(../images/img112.gif);
}

/* Footer */

#footer {
border-top: 5px solid black;
	clear: both;
}

#footer p {
	margin: 0;
	width: 680px;
	font-size: x-small;
}


#loading_box
{
	width: 60px;
	height: 60px;
	padding: 0px 0px;
	margin: 0px 0px;
	border: 1px solid orange;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	background-color: #FFFFFF;
	color: orange;
	font-weight: bold;
	position: absolute;
	z-index: 9;
	left: 315px;
	top: -100px;
	/*margin-left: 57px;
	margin-top: 60px;
	margin-left: 100px;
	margin-top: 100px;*/
}


#loading_box img
{
	width: 25px;
	margin-bottom: -20px;
}

.gsc-control
{
	margin: 0 auto;
	width: 400px;
}

.gsc-input
{
	width: 400px;
}

.boxed
{
	text-align: left;
	padding: 0px 15px 0px 15px;
	margin: 0px 0px;
}

.container_box
{
	padding: 10px 0px;
	text-align: center;
}

.container_box h2
{
	text-align: center;
}

#main_page
{
	width: 700px;
	margin: 0 auto;
}

.shadow_bg
{
	width: 1px;
	height: 1px;
	position: relative;
	z-index: 2;
	top: -300px;
	background-color: #CCCCCC;
}

.carousel-component { 
    padding:8px 16px 4px 16px;
    margin:0px;
height: 600px;
}

.carousel-component .carousel-list li { 
    margin:4px;
}

.carousel-component .carousel-list li img { 
    margin-bottom:20px;
}

.carousel-component .carousel-list li a { 
    display:block;
    border:1px solid #e2edfa;
    outline:none;
}

.carousel-component .carousel-list li a:hover { 
    border: 1px solid #aaaaaa; 
}

#admin_nav
{
	text-align: center;
}

.height500
{
height: 600px;
}