<?php
global $_SITE;
// Fare la parte che usa il file usato dal form upload
if ( ! empty( $_POST['source'] ) )
{

	$source = $_FILES['import_file']['tmp_name'];
	$type = substr( $_FILES['import_file']['name'], ( strlen( $_FILES['import_file']['name'] ) - 3 ) );
	$name = "Seller_{$_POST['source']}";
	if ( class_exists( $name ) )
		$c = new $name( $_SITE['database']['handler'], $source, $type );
}
$d = $_SITE['Seller'];?>
<style>
tr th
{
border-bottom: 3px dotted red;
font-size: 18px;
font-weight: bold;
background-color: #FFFFFF;
background: url( 'http://ffspiritforum.altervista.org/forum/templates/subSilver/images/sort_gif.gif' ) no-repeat;
}
tr th:hover
{
background-color: #FFFFFF;
padding: -1px;
}
tr
{
border: 1px dotted green;
}

tr:hover
{
background-color: #CCCCCC;
border: 2px dotted red;
padding: -1px;
}

tr td:hover
{
background-color: #FFFFFF;
border: 2px dotted red;
padding: -1px;
}
</style>
<table style="text-align:center; width: 800px; padding: 30px 0px; margin: 30px auto; border: 3px solid blue;" class="sortable resizable editable">
<tr>
<th></th>
<th><a href="?updateFilters=1&amp;filters[s]=id_product">ID Cs3</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=id_source">Fornitore</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=cod">ID Fornitore</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=update">Ultimo Update</a></th>
<!--<td>Categoria</td>
<td>Sotto Categoria</td>-->
<th><a href="?updateFilters=1&amp;filters[s]=manufacturer">Produttore</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=description">Prodotto</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=price">Prezzo</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=price_full">Prezzo pieno</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=bonus_percent">Sconto Fornitore</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=base_availability">Disponibilita' Sede</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=affils_availability">Disponibilita' Filiali</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=base_unavailability">Prenotatazioni Sede</a></th>
<th><a href="?updateFilters=1&amp;filters[s]=affils_unavailability">Prenotatazioni Filiali</a></th>
</tr>
<?
foreach( $d->getProducts() as $product )
{
	if ( $product['base_availability'] > 30 )
			$baseA = 1;
			
	else if ( $product['base_availability'] >= 20 && $product['base_availability'] < 30 )
			$baseA = 2;
			
	else if ( $product['base_availability'] >= 10 && $product['base_availability'] < 20 )
			$baseA = 3;
			
	else if ( $product['base_availability'] >= 5 && $product['base_availability'] < 10 )
			$baseA = 4;
			
	else if ( $product['base_availability'] >= 0 && $product['base_availability'] < 5 )
			$baseA = 5;
			
	if ( $product['affils_availability'] > 30 )
			$affilsA = 1;
			
	else if ( $product['affils_availability'] >= 20 && $product['affils_availability'] < 30 )
			$affilsA = 2;
			
	else if ( $product['affils_availability'] >= 10 && $product['affils_availability'] < 20 )
			$affilsA = 3;
			
	else if ( $product['affils_availability'] >= 5 && $product['affils_availability'] < 10 )
			$affilsA = 4;
			
	else if ( $product['affils_availability'] >= 0 && $product['affils_availability'] < 5 )
			$affilsA = 5;

	print "
<tr>
<td><img src='".BFCMS_Helper::galleryGetImage( array( $product['cod'], $product['id_product'] ), TRUE, FALSE, FALSE, FALSE, TRUE )."' alt='Thumbnail' /></td>
<td>{$product['id_product']}</td>
<td>{$product['id_source']}</td>
<td>{$product['cod']}</td>
<td>{$product['update']}</td>
<!--<td>{$product['category']}</td>
<td>{$product['sub_category']}</td>-->
<td>{$product['manufacturer']}</td>
<td>{$product['description']}</td>
<td>{$product['price']} &euro;</td>
<td>{$product['price_full']} &euro;</td>
<td>{$product['bonus_percent']}</td>
<td class='urg$baseA'>{$product['base_availability']}</td>
<td class='urg$affilsA'>{$product['affils_availability']}</td>
<td>{$product['base_unavailability']}</td>
<td>{$product['affils_unavailability']}</td>
</tr>";
}

?></table>